* {
    color: #222;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f0eadd;
    overflow: hidden;
}

.info-text {
    padding: 0.5em 1em;
    text-align: left;
    font-size: 1.5em;
}

.top-left {
    position: absolute;
    top: 0%;
    left: 0%;
}

.bottom-left {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.bottom-left>div {
    display: inline-block;
}

.chest {
    width: 20em;
    height: 20em;
    position: absolute;
    top: 7%;
    left: 1%;
    border: solid;
    background-color: #fff;
}

.info-box {
    width: 20em;
    height: calc(100% - 20em - 14%);
    position: absolute;
    top: calc(20em + 8%);
    left: 1%;
    border: solid;
    background-color: #fff;
}

.draggable {
    position: absolute;
    cursor: move;
    background-size: auto;
}